// 資料建立表單

ul.nav-tabs {
    display: flex;
    border-bottom: 1px solid #fff;
    margin-left: 0.5rem;
    li {
        padding: 0.5rem 1rem;
    }
    .active {
        background: white;
        border-color: $gray-05;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        a {
            color: $text-AA;
            cursor: default;
            &:hover {
                color: $text-AA;
            }
        }
    }
}

.form-group {
    margin-bottom: 10px;
    button {
        width: 260px;
    }
}
fieldset {
    text-align: left;
    font-size: 0;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    span,a,p,li,div {
        font-size: 1rem;
    }
}

.form-wrap {
    padding: 2rem;
    z-index: 1;
    background: white;
    @include shadow2;
    text-align: center;
    .b-text-field {
        min-width: 12rem;
        margin-bottom: 1.6rem;
        margin-right: 1rem;
        // padding-right: 1rem;
        & > label {
            font-size: 0.9rem;
            // padding-top: 1rem;
            padding-bottom: 0.5rem;
            color: $label-color;
            vertical-align: middle;
            a.label-link{
                margin-left: 6rem;
                font-size: 0.9rem;
                color: #8988a7;
                text-decoration: underline;
                &:hover{
                    color: #18c16e;
                }
            }
        }
    }
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    button + button {
        margin-left: 1rem;
    }
}

.form-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    .text-h3 {
        flex-shrink: 0;
        padding-bottom: 0;
    }
}

.b-field-row {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    margin-bottom: .5rem;
    &:only-child,
    &:last-of-type {
        margin-bottom: 0;
    }
}

label.error {
    color: $danger;
    font-size: 0.8rem;
    position: absolute;
    white-space: pre;
    bottom: -1rem;
    right: 0;
}
input.error {
    outline: 2px solid $danger;
    outline-offset: -2px;
    & + label.error {
        padding-left: 0.5rem;
    }
}
.b-form-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0 3rem 0;
    margin-right: -0.5rem;

    [class^="button-"] {
        margin-bottom: 0.5rem;
        margin-right: 1rem;
    }
}

.tooltip-btn {
    padding-right: 0.5rem;
    font-size: 1rem;
    color: $placeholder;
    .material-icons {
        color: inherit;
    }
}

.tooltip {
    text-align-last: left;
    .tooltip-inner {
        max-width: 15rem;
        padding: 0.5rem 1em;
        text-align: justify;
        background-color: $text-AAA;
        border: 1px solid $text-AAA;
        border-radius: 2px;
        color: $text-d-AAAA;
    }
    &.bs-tooltip-auto[x-placement^="right"] .arrow::before,
    &.bs-tooltip-right .arrow::before {
        border-right-color: $text-AAA;
    }
    &.bs-tooltip-auto[x-placement^="top"] .arrow::before,
    &.bs-tooltip-top .arrow::before {
        border-top-color: $text-AAA;
        top: -1px;
    }
}

.img-preview {
    border: 1px solid $bg;
    background-color: $gray-1;
    display: inline-block;
    overflow: hidden;
    position: relative;
    &:before {
        position: absolute;
        display: block;
        z-index: 5;
    }
    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        min-height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }

    &[data-type="bc"] {
        width: calc(376px / 2);
        height: calc(468px / 2);
        // border-radius: 16px;
        &:before {
            content: '';
            width: inherit;
            height: inherit;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: transparent;
            // box-shadow: 0 0 0 100px rgba(255, 255, 0, 0.5);
        }
    }
    &[data-type="backpack"] {
        width: 335px;
        height: 188px;
        // border-radius: 16px;
        &:before {
            content: '';
            width: 188px;
            height: 188px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: transparent;
            // box-shadow: 0 0 0 100px rgba(255, 255, 0, 0.5);
        }
    }
    &[data-type="marketSmall"] {
        width: 125px;
        height: 125px;
        &:before {
            border-width: 0;
        }
    }
    &[data-type="marketBig"] {
        width: 300px;
        height: 300px;
        &:before {
            // border-width: 50px 0;
        }
    }
}

// treeselect
.chosentree {
    font-size: 0;
    width: 100%;
    flex-grow: 1;
    ul.chzntree-choices {
        font-size: 1rem;
    }
    .moreorless_content {
    }
    .treeselect {
        li.odd,
        li.even {
            background: white;
        }
        .treenode {
            line-height: 2rem;
            span.treeselect-expand {
                top: 0.5rem;
            }
        }
    }

    .treeselect-title {
        color: $text-AA;
    }
}

@media screen and (max-width: 768px) {
    .b-form-button {
        padding-left: 0;
        margin-right: 0;
        flex-direction: row-reverse;
        [class*="b-btn-"] {
            margin: 1rem;
        }
    }
}
@media screen and (max-width: 578px) {
    select.b-select {
        min-width: unset;
        max-width: unset;
    }
    .b-input-wrap {
        width: 100%;
        .b-input-hint {
            padding-right: 0;
        }
    }
    .form-wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .form-wrap .b-text-field {
        flex-direction: column;
        align-items: stretch;
        & > label:not([class*="button"]) {
            text-align: left;
            padding-top: 0;
            padding-bottom: 0;
            width: 100%;
            line-height: 2;
        }
        & > select {
            width: 100%;
        }
        [data-size="lg"], [data-size="xl"]{
            flex-grow: 1;
            width: 100%;
        }
    }
    .b-field-group {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .b-form-button {
        padding-left: 0;

        button {
            flex-grow: 1;
            & + button {
                margin-left: 1.5rem;
            }
        }
    }
}

.flatpickr-wrapper {
    display: block !important;
  }

.preview {
    &[data-size='small'] {
        max-width: 11.25rem;
        max-height: 11.25rem;
    }
    &[data-size='backpack'] {
        max-width: 21rem;
        max-height: 21rem;
    }
}

// 上架預覽
#product-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .h4-text {
        font-size: 18px;
        line-height: 1.5;
        font-weight: normal;
    }
}
.demo-item-list {
    width: 162px;
    text-align: left;
    
    .img {
        width: 162px;
        height: 162px;
        border-radius: 12px;
        border: solid 2px #edf0f3;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
    }
    .tag-group {
        text-align: left;
        padding: 6px 0;
    }
    .tag {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        padding: 0 6px;
        border-radius: 4px;
        border: solid 1px #94e4b3;
        color: #26d07c;
        & + .tag {
            margin-left: 6px;
        }
    }
    h3.title {
        font-size: 15px;
        color: #2b3843;
    }
    .price {
        font-size: 15px;
        &:before {
            content: '$';
        }
        color: #ff9500;
    }
}

.item-detail {
    background: white;
    border: solid 2px #edf0f3;
    width: 375px;
    text-align: left;
    overflow: hidden;
    .img[data-type="big"] {
        width: 100%;
        height: 396px;
        overflow: hidden;
        position: relative;
        background-position: center;
        background-size: cover;
    }
    .wave {
        height: 60px;
        margin-top: -60px;
        position: relative;
        background-position: center;
        background-size: cover;
        background-image: url('./../img/input/demo-wave.png');
    }
    .img[data-type="small"] {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: .5rem;
        z-index: 1;
        filter: blur(0);
    } 
    .img-bg {
        position: relative;
        height: 241px;
        background: rgb(156,183,170);
        // background: linear-gradient(180deg, rgba(156,183,170,80%) 0%, rgba(156,183,170,0) 100%) no-repeat border-box,
        // linear-gradient(180deg, rgb(17, 184, 234,100%) -10%, rgb(17, 184, 234,100%) 10%, rgba(17, 184, 234,0) 80%) no-repeat border-box;
    }
    .content {
        padding: 0 1.25rem;
        background: rgb(247, 249, 251);
    }
    .tag {
        display: inline-block;
        min-width: 36px;
        margin: 1px 0 0;
        border-radius: 4px;
        border: solid 1px #94e4b3;
        color: #26d07c;
        & + .tag {
            margin-left: 10px;
        }
    }
    h3.title {
        font-size: 18px;
        color: #2b3843;
    }
    img {
        width: 100%;
    }
    p {
        color: #333;
    }
}

.upload-img-preview {
    position: relative;
    padding-right: 1rem;
    padding-bottom: 1rem;
}