
$Primary: #18c16e;
$DarkPrimary: #c0105f;

$Secondary: #322741;
$DarkSecondary: #2e281a;

$contrast: #18c16e;
$danger: #ff303e;
$success: #7DDB2B;
$warning: #ffc107;
$info: #00AEFF;

$black: #000;

$bezire: cubic-bezier(.51,.02,.55,1);

$gray-05: rgba(0,0,0,.05);
$gray-1: rgba(0,0,0,.1);
$gray-12: rgba(0,0,0,.12);
$gray-15: rgba(0,0,0,.15);
$gray-2: rgba(0,0,0,.2);
$gray-25: rgba(0,0,0,.25);
$gray-3: rgba(0,0,0,.3);
$gray-4: rgba(0,0,0,.4);
$gray-5: rgba(0,0,0,.5);
$gray-6: rgba(0,0,0,.6);


$gray-light: #ddd;

$text-AAAA: #494949;
$text-AAA: #545454;
$text-AA: #727272;
$text-A: #919191;

$label-color:#8988a7;

$placeholder: #A2A2A2;
$text-unselect: #696969;
$disabled-text: $gray-3;
$disabled-btn: #e2e2e2;
$disabled-bg: #e2e2e2;

$text-d-AAAA: #E4E4E4;
$text-d-AAA: #C5C5C5;
$text-d-AA: #9E9E9E;
$text-d-A: #7F7F7F;


$bg: #f8f4f6;
$bg-1: #EAE7E9;
$bg-2: #DCDADB;
$bg-3: #f8f4f6;
$bg-4: #CFCECE;
$bg-5: #C1C1C1;

$topMenu: #16222b;
$topMenu-text: $text-d-AAA;
$topMenu-height: 3.125rem;

$sidebar: #16222b;
$sidebar-text: #c3ccdd;
$sidebar-width: 15rem;
$sidebar-item-padding-vertical: .5rem;
$menu-active: $Primary;
$menu-active-text: white;



$input-width: 14rem;
$input-border-color: #ccc;

$icon-hover-bg: #eee;

$bfPrimary: #26d07c;